#Ignore everething

**

#Allowed 
!api/
!api_yamdb/
!reviews/
!templates/
!users/
!manage.py
!requirements.txt
!.env
!.github
!Dockerfile
!docker-compose.yaml
!.env
#Override Allowed

.idea/
__pycache__/